<h2>Engaging:</h2>
<% Article.most_comments.each do |article| %>
  <div class="text-center">
    <h4><%= link_to article.title, article %></h4>
    <%= link_to (image_tag article.cover_photo.url(:small), alt: "Pic"), article %>
  </div>
<% end %>