<div class="panel panel-info" id='panel-category-sidebar'>
  <div class="panel-heading">
    <h3 class="panel-title">Browse by categories:</h3>
  </div>
  <div class="panel-body">
    <% Category.all.each do |c| %>
      <p><%= link_to c.name, c %></p>
    <% end %>
  </div>
</div>
