<h1>Authors</h1>



<% @authors.each do |author| %>
  <ul class="media-list">
    <li class="media">
      <% if author.author_photo.file? %>
        <%= link_to (image_tag author.author_photo.url(:small), class: "pull-left img-circle img-responsive"), author %>
      <% end %>
      <div class="media-body">
        <h3 class="media-heading"><%= link_to author.to_s, author %></h3>
      </div>
    </li>
  </ul>
  
<% end %>


<br>

<%= link_to 'New Author', new_author_path %>


