<%# add navigation links to this file %>
<li><%= link_to 'Home', root_path, :class => 'category-link' %></li>
<% Category.all.each do |cat| %>
	<li><%= link_to cat.name, cat, :class => "category-link" %></li>
<% end %>


