<div class="col-xs-12 bottom-buffer-10">
          <% unless user_signed_in? %>
            <div class="text-center">
              <%= link_to  new_user_session_path do %>
                <button class="btn btn-sm btn-default">Sign in</button>
              <% end -%>
              /
              <%= link_to new_user_registration_path do %>
                <button class="btn btn-sm btn-default">Sign up</button>
              <% end -%>
            </div>
          <% else %>
            <%= render 'layouts/user_dropdown' %>
              
          <% end %>
</div>